/*|-------------------------|
  |                         |
  |          _BASE          |
  |   BASE COMMUN STYLES    |
  |                         |
  |-------------------------|*/
* {
  box-sizing: border-box;
  transition-duration: 0.25s;
  transition-property: background-color, color;
}

html {
  scrollbar-color: var(--colorH2) var(--background);
  font-size: 62.5%;
  font-family: "Poppins", "Roboto", sans-serif;
  background-color: var(--background);
  color: var(--colorP);
  font-optical-sizing: auto;
}

body {
  width: 100%;
  max-width: var(--maxwidth);
  margin: 0 auto;
}

app-root,
div#menuDrop {
  width: 100%;
}

main {
  margin: 0;
}

main > section {
  padding: 0 5%;
  margin: 7.5vh 0;
}

section > header > * {
  margin: 1% 0;
}

.light,
[data-theme="dark"] .dark {
  display: none;
}

[data-theme="dark"] .light {
  display: inline;
}

/*****************************/
/*****************************/
