/*|--------------------|
  |                    |
  |     _VARIABLES     |
  |   VARIABLES FILE   |
  |                    |
  |--------------------|*/

:root {
    --maxwidth: 1440px;
    --grey01: #191919;
    --grey02: #363636;
    --grey03: #666666;
    --grey04: #A7A7A7;
    --grey05: #CCCCCC;
    --green01: #018C0F;
    --green02: #D7FFE0;
    --blue01: #38434f;
    --white: #eeeeee;
    --gradientMid: #d6b945;
    --gradientMid: #637351;
    --fontWeightLight: 300;
    --fontWeightRegular: 400;
    --fontWeightMedium: 500;
    --fontWeightSemiBold: 600;
    --fontWeightBold: 700;
    --gradient: linear-gradient(90deg,
            var(--background) 0%,
            var(--gradientMid) 30%,
            var(--gradientMid) 70%,
            var(--background) 100%);
    --gradientSimple: linear-gradient(-90deg,
            var(--gradientMid) 0%,
            var(--colorH2) 100%);
    --fontSizeH1: clamp(2.4rem, calc(3.125vw + 14px), 5.4rem);
    --fontSizeH2: clamp(2rem, calc(2.5vw + 12px), 4.4rem);
    --fontSizeH3: clamp(1.8rem, calc(1.45vw + 13.333px), 3.2rem);
    --fontSizeH4: clamp(1.6rem, calc(1.25vw + 12px), 2.8rem);
    --fontSizeP: clamp(1.2rem, calc(0.625vw + 10px), 1.8rem);
    --fontSizeSmall: clamp(1.0rem, calc(0.625vw + 8px), 1.6rem);
}

html {
    --reversedBackground: var(--grey01);
    --background: var(--white);

    --colorH1: var(--blue01);
    --colorH2: var(--blue01);
    --colorH3: var(--grey03);
    --colorH4: var(--blue01);
    --colorP: var(--grey03);

    --colorPrimaryMenu: var(--grey03);
    --colorHoverMenu: var(--blue01);
    --colorFooter: var(--blue01);
    --colorBorder: var(--blue01);
    --colorLinkedIn: #d4cbbc;
}

html[data-theme="dark"] {
    --background: var(--grey01);
    --reversedBackground: var(--white);

    --colorH1: var(--grey05);
    --colorH2: var(--grey05);
    --colorH3: var(--grey04);
    --colorH4: var(--grey05);
    --colorP: var(--grey05);

    --colorPrimaryMenu: var(--grey04);
    --colorHoverMenu: var(--white);
    --colorFooter: var(--grey04);
    --colorBorder: var(--grey03);
    --colorLinkedIn: var(--blue01);
}