<main role="main">
  <section class="about">
    <div class="content">
      <header>
        <h1>Sobre mim</h1>
      </header>
      <article>
        <p>
          Ofereço um profissionalismo versátil e adaptável a diferentes
          ambientes, guiado pela paixão de aprender e superar expectativas com
          resultados acima dos esperados.
          <br />
          Em busca de explorar novas tecnologias e acrescentar valor através de
          soluções práticas, eficientes, seguras e inovadoras.
        </p>
      </article>
    </div>
    <app-linkedin-card />
  </section>
  <section class="experience"></section>
</main>
