/*  |---------------------|
    |   PROJECT SECTION   |
    |---------------------|*/
.projectBox {
    min-width: 280px;
    max-width: 380px;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 30px -5px;
    position: relative;
}

.projectBox>img {
    width: 100%;
}

.projectBox .projectsContent {
    padding: 5% 5% 5% 5%;
}

.projectsContent * {
    margin: 0 0 1vh 0;
}

.projectsContent header,
.projectsContent h4 {
    margin: 0 0 1vh 0;
}


.projectsContent p.pTechStack {
    text-align: center;
}

.techStackSVG {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin: 0 0 4vh 0;
}

.techStackSVG svg {
    width: calc(var(--fontSizeP) * 1.75);
}

.projectActions {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5%;
}

.projectActions .projectLinks>a {
    text-decoration: none;
    display: flex;
    gap: 5px;
}

.projectActions .projectLinks svg {
    width: calc(var(--fontSizeSmall) + 5px);
}

.projectLinks small {
    text-decoration: none;
    color: var(--reversedBackground);
    margin: 0;
    font-weight: var(--fontWeightMedium);
}


/*  |----------------------------|
    |   FIM DO PROJECT SECTION   |
    |----------------------------|*/