<main role="main">
  <section id="sectionBanner">
    <div class="columnLeft">
      <h1>
        <small class="underline-animation"> OLÁ 👋🏼 </small>
        <br />O meu nome é<br />
        <span>Rui Conceição</span><br />
        <p>Desenvolvedor Júnior</p>
      </h1>
    </div>
    <div class="columnRight">
      <img
        src="https://res.cloudinary.com/ruiconceicaoportfolio/image/upload/avatar2.jpg"
        alt="Avatar"
        id="avatar"
      />
    </div>
  </section>
  <section id="sectionStack">
    <header>
      <h2>A minha Stack</h2>
      <h3>Tecnologias com que trabalho</h3>
    </header>
    <app-stack />
  </section>
  <section id="sectionProjects">
    <header>
      <h2>Projetos</h2>
      <h3>Projetos que desenvolvi</h3>
    </header>
    <app-project-card />
  </section>
</main>
