/*|-----------------------|
  |                       |
  |         _BASE         |
  |   INDEX.HTML STYLES   |
  |                       |
  |-----------------------|*/

main>section {
    margin-bottom: 25vh;
}

section>header {
    text-align: center;
}

/*  |--------------------|
    |   BANNER SECTION   |
    |--------------------|*/
#sectionBanner {
    max-width: 1200px;
    height: 85vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    white-space: nowrap;
}

#sectionBanner .columnLeft h1>span {
    background: var(--gradientSimple);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 2;
}

#sectionBanner .columnLeft p {
    margin: 0;
}

#sectionBanner .columnRight {
    position: relative;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--fontSizeH1)*4.5);
    max-width: 305px;
    height: calc(var(--fontSizeH1)*4.5);
    max-height: 305px;
    box-shadow: var(--reversedBackground) 0px 0px 25px -10px;
}

#sectionBanner .columnRight::before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--gradientSimple);
    background-clip: border-box;
    -webkit-text-fill-color: transparent;
    left: 0;
    top: 0;
    position: absolute;
    z-index: -1;
    transform: rotate(-90deg);
    display: none;
}

#sectionBanner .columnRight img#avatar {
    background-color: var(--background);
    width: calc((var(--fontSizeH1)*4.5) - 5px);
    max-width: 300px;
    border-radius: 100%;
    z-index: 0;
}

/*  |---------------------------|
    |   FIM DO BANNER SECTION   |
    |---------------------------|*/

/*  |--------------------|
    |   STACKS SECTION   |
    |--------------------|*/

.stackSvgContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5%;
    row-gap: 1.5vh;
    max-width: 1024px;
    margin: 5% auto;
}

.stackSvgContainer .stackCard {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 1rem;
    box-shadow: var(--reversedBackground) 0px 0px 5px;
    padding: 1.25vh;
}

.stackCard svg {
    width: calc(var(--fontSizeH4) * 1.25);
}

.stackCard h4 {
    margin: 0;
}

/*  |---------------------------|
    |   FIM DO STACKS SECTION   |
    |---------------------------|*/
/*  |---------------------|
    |   PROJECT SECTION   |
    |---------------------|*/
#sectionProjects .projectsContainer {
    max-width: 1280px;
    display: flex;
    justify-content: space-evenly;
    margin: 5% auto;
    gap: 2.5%;
    flex-wrap: wrap;
    row-gap: 5vh;
}

.projectsContainer .projectBox {
    min-width: 280px;
    max-width: 380px;
    width: 30%;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 30px -5px;
    position: relative;
}

.projectsContainer .projectBox>img {
    width: 100%;
}

.projectBox .projectsContent {
    padding: 5% 5% 5% 5%;
}

.projectsContent * {
    margin: 0 0 1vh 0;
}

.projectsContent header,
.projectsContent h4 {
    margin: 0 0 1vh 0;
}


.projectsContent p.pTechStack {
    text-align: center;
}

.techStackSVG {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin: 0 0 4vh 0;
}

.techStackSVG svg {
    width: calc(var(--fontSizeP) * 1.75);
}

.projectActions {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5%;
}

.projectActions .projectLinks>a {
    text-decoration: none;
    display: flex;
    gap: 5px;
}

.projectActions .projectLinks svg {
    width: calc(var(--fontSizeSmall) + 5px);
}

.projectLinks small {
    text-decoration: none;
    color: var(--reversedBackground);
    margin: 0;
    font-weight: var(--fontWeightMedium);
}

/*  |----------------------------|
    |   FIM DO PROJECT SECTION   |
    |----------------------------|*/